/* Algemene stijlen */


/* Media queries voor responsiviteit */
@media (max-width: 1200px) {
  



    #about-us {
        flex-direction: column;
        align-items: center;
    }

    #about-us-content {
        width: 100%;
        margin: 20px 0;
    }

    #about-us-image-container {
        width: 100%;
        margin: 20px 0;
    }
    #about-us-body {
        min-height: fit-content;
    }

    
}