html, body {
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
    background-color: #f9f9f9;
    position: relative;
    height: 100%;
}
* {
    font-family: "Segoe UI", Tahoma, sans-serif;
}

#add {
    position: fixed;
    translate: 40px 10px;
}
#remove {
    position: fixed;
    translate: 30px 40px;
}

#main-container {
    /* height: 100vh; */
    min-height: 100%;
    width: 100vw;
    display: grid;
    /* grid-template: "header" 10% "content" auto "footer" 10%; */
    /* grid-template: "header header" 10% "menu content" 1fr "footer footer" 10% / minmax(10%, max-content) 1fr; */
    grid-template: "header header" 10vh "menu content" 1fr "footer footer" 10vh / clamp(5rem, 10vw, 20vw) 1fr;
    row-gap: 3vh;
}

#header, #footer {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #9ddbeb;
    color: white;
}

#header {
    grid-area: header;
    display: grid;
    /* grid-template: "test" 100% / 20% auto 20%; */
    /* grid-template: "logo title search" 100% / 8% 1fr 40%; */
    grid-template: "logo title search shopping-cart" 100% / clamp(5rem, 10vw, 20vw) 1fr 1fr 10vw;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
#footer {
    grid-area: footer;
    position: relative;
}

#content-container {
    height: 100%;
    grid-area: content;
    /* overflow-y: auto;  */
}
#content-container.flex {
    display: flex;
    justify-content: center;
}
#content-container.homepage {
    gap: 4vw; /* 5% */
    padding-inline: 3vw; /* 50px; */
}

#logo {
    grid-area: logo;
    border-radius: 50%;
    /* margin-left: 1.25vw; */
    justify-self: center;
    /* height: 90%; */
    object-fit: contain;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
#header-title {
    grid-area: title;
    font-size: clamp(1rem, 4vw, 4rem);  /*font-size: 3.5rem; */
    margin-left: 20px;
    font-weight: bold;
}
/* input[type=search] {
    -webkit-appearance: none;
} */

.search-container {
    align-content: center;
    width: fit-content;
    height: 36%;
    width: 45%;
    min-width: 180px;
    max-width: 480px;
    display: flex;
    border-radius: 12px;
    transition: 0.1s;
    &:has(input[type=search]:focus) {
        outline: 2px solid white;
        box-shadow: 0 0 8px 6px rgb(255 255 255 / 30%);
    }
    & input[type=search] {
        /* height: calc(100% - 12px); */
        width: 100%;
        padding: 6px 6px 6px 12px;
        font-size: 1.8vh; /*1.0625rem; */
        border: none;
        background-color: #949494;
        color: white;
        border-radius: 12px 0 0 12px;
        &:focus {
            outline: none;
            &::-webkit-search-cancel-button {
                opacity: 0.9;
                pointer-events: all;
            }
        }
        &::placeholder {
            color: rgb(235, 235, 235);
          }
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 1em;
            width: 1em;
            border-radius: 50em;
            background: url(../images/clear_input.svg) no-repeat 50% 50%;
            background-size: contain;
            opacity: 0;
            pointer-events: none;
        }
    }
    & button {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 6px 10px;
        padding: 0;
        border-radius: 0 12px 12px 0;
        background: #949494;
        border: none;
        cursor: pointer;
        & img {
            height: 100%;
        }
        &::before {
            color: #fff;
            font-size: 2vh !important;
            padding-inline: 0.5vw;
        }
    }
    & button:hover {
        background: #7d7d7d;
    }
}

#nav-menu {
    width: 100%; /*8%; */
    height: 20vh; /* 24%; *//*3.375%;*/
    background-color: #949494;
    border-bottom-right-radius: 20px;
    height: max-content;
    position: sticky;
    top: 13vh;
    transform: translateY(-3.1vh);
    z-index: 9;
    & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        margin-bottom: 10px;
        padding:0px;
        font-size: 1.71rem; 
        & li {
            width: 100%;
            & a {
                display: block;
                text-decoration: none;
                color: white;
                width: 100%;
                text-align: center;
                font-weight: bold;
                transition: background-color 0.4s, box-shadow 0.4s, padding 0.4s, color 0.4s;
                border-top-right-radius: 14px;
                border-bottom-right-radius: 14px;
                position: relative;

                font-size: clamp(1rem, calc(2vw + 2vh) / 2, 3.5rem);
                &[selected] {
                    background-color: #e3e3e3;
                    box-shadow: 0 0 8px 0 rgb(255 255 255 / 30%);
                    z-index: 2;
                    position: relative;
                    color: #555;
                    padding-left: 15%; /* 25px */
                    &:hover {
                        color: white;
                    }
                }
                & span {
                    margin-right: 20px;
                    white-space: nowrap;

                }
                &:hover {
                    background-color: #7d7d7d;
                    box-shadow: 0 0 8px 0 rgb(255 255 255 / 30%);
                    padding-left: 15%; /* 25px */
                }

                /* icons */
                &::before {
                    margin-right: 10px;
                    transition:  opacity 0.3s, transform 0.4s;
                    transform: translateX(0px);
                    font-size: clamp(1rem, calc(1vw + 1vh) / 1.4, 6rem);
                    display: inline-block;
                }
                &.icon-hover::before {
                    content: attr(data-icon);
                    font-family: "FontAwesome";
                    font-family: 'Font Awesome 6 Pro';
                    /* font-size: 18px; */
                    /* height: auto; */
                    /* z-index: 2; */
                    /* position: absolute;
                    left: 20px;
                    bottom: 7px; */
                    /* margin-right: 10px; */
                    opacity: 0;
                    /* transition:  opacity 0.3s, transform 0.4s; */
                    transform: translateX(-25px); /* 50px */
                }
                &.icon-hover:hover::before {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
    }
}
@keyframes drive {
    0% {
        left: 0%;
        transform: scaleX(1);
    }
    50% {
        left: 96%;
        transform: scaleX(1);
    }
    50.01% {
        transform: scaleX(-1); 
    }
    100% {
        left: 0%;
        transform: scaleX(-1); 
    }
}

#driving-bike {
    height: 50%;
    position: absolute;
    bottom: 0;
    /* animation: drive 20s linear infinite; */
}
#footer-links {
    display: flex;
    /* height: 100%; */
    justify-content: space-evenly;
    margin-top: 0.8%;
}

#KVK-Number {
    right: 10px;
    bottom: 5px;
    position: absolute;
    font-size: clamp(1rem, calc(2vw + 2vh) / 3.5, 2rem);
}
#Copyright {
    bottom: 5px;
    margin-left: 10px;
    position: absolute;
    font-size: clamp(1rem, calc(2vw + 2vh) / 3.5, 2rem);
}
#facebook-social {
    background: url(../images/facebook.png) no-repeat 50% 50%;
    background-size: contain;
    height: clamp(1rem, 7vh, 4rem); /*50px;*/
    width: clamp(2rem, 2.5vw, 5rem); /*50px;*/
    border: none;
    padding: 0;
    object-fit: contain;
}
.footer-link {
    color: white;
    text-decoration: none;
    font-size: clamp(1rem, calc(2vw + 2vh) / 2.5, 2rem); /* 24px */
    margin-left: 10px;
    &:hover {
        text-decoration: underline;
    }
}
.column {
    display: flex;
    flex-direction: column;
}

#shop-container {
    display: grid;
    justify-content: center;
    height: calc(100% - 100px); /*100%;*/
    width: -webkit-fill-available;
    margin: 50px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr;            
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    z-index: 2;
}
#shopping-cart-container {
    --open-shopping-cart-width: calc(100% - var(--shopping-cart-width)); /* 75% */
    position: absolute;
    height: calc(80% - 100px);
    align-self: center;
    background-color: #9c9c9c;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    width: 30.1%; /* 25% */
    min-width: max-content;
    left: 100%;
    transition: left 0.5s;
    z-index: 3; 
    position: fixed;
    top: 50%;
    bottom: 50%;
}
#shopping-cart {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 14%;
    grid-template-rows: 10% 1fr 20%;
    & h1 {
        margin: 0;
        padding-left: 20px;
        color: #fff;
        line-height: 100%;
    }
}
#shopping-cart-total {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: calc(100% + 40px); /* 100% */
    height: 100%; /* 9% */
    /* padding: 20px; */
    border-top: 5px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: span 2;
    margin-left: -20px;
}
#shopping-cart-total-price {
    font-size: x-large;
    color: #fff;
}
#shopping-cart-buy-button {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 14px;
    border: none;
    height: 50px;
    width: fit-content;
    background-color: #007bff;
    font-size: 1.5rem;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: #0056b3;
    }
}
#shopping-cart-items {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: calc(100% + 20px); /* calc(100% - 20px) */
    height: 95%; /* calc(81% - 60px) */
    grid-column: span 2;
    margin-top: 5%;
    overflow-y: auto;
    scrollbar-gutter: stable;
}
@keyframes removeItem {
    0% {
        opacity: 1;
        transform: scale(1);
        height: 10%; 
    }
    100% {
        opacity: 0;
        transform: scale(0);
        height: 0; 
        margin: -1%;
        padding: 0;
    }
}
@keyframes addItem {
    0% {
        opacity: 0;
        transform: scale(0);
        height: 0; 
        margin: -1%;
        padding: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        height: 10%; 
        padding: 20px;
        margin: 0;
    }
}
.shopping-cart-item {
    width: calc(100% - 40px);
    height: 10%;
    background-color: #fff;
    border-radius: 14px;
    padding: 20px;
    display: flex;
    align-items: center;
    animation-duration: 0.6s; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    & img {
        height: 100%;
        width: auto;
        margin-right: 20px;
    }
    &.removing {
        animation-name: removeItem;
    }
    &.adding {
        animation-name: addItem;
    }
}
.shopping-cart-item-info {
    display: flex;
    flex-direction: column;
    & h3 {
        color: #333;
        margin: 0;
        font-size: clamp(1rem, 1vw, 4rem);
    }
}
.flex-spacer {
    flex-grow: 1;
}
.shopping-cart-remove-button {
    width: 25px;
    height: 25px;
    translate: 10px;
    display: contents;
    &:hover::before {
        color: red;
    }
}
#close-shopping-cart {
    /* position: absolute;
    top: 20px;
    right: 20px; */
    width: 100%;
    max-width: 50px;
    height: auto;
    aspect-ratio: 1/1;
    justify-self: end;
}

@keyframes countUp {
    0% {
        bottom: -0.5vw;
        left: -0.5vw;
        width: min(2vw, 2vh);
        font-size: min(1.5vh, 1.5vw);
    }
    50% {
        bottom: -0.75vw;
        left: -0.75vw;
        width: min(3vw, 3vh);
        font-size: min(2.25vh, 2.25vw);
    }
    100% {
        bottom: -0.5vw;
        left: -0.5vw;
        width: min(2vw, 2vh);
        font-size: min(1.5vh, 1.5vw);
    }
}

#open-shopping-cart {
    height: 5vh; /* 50px */
    width: 5vh; /* 50px */
    border-radius: 12px;
    position: relative;
    /* position: absolute; */
    /* right: 20px; */
    /* top: 20px; */
    background-color: #949494;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    color: #fff;
    &::before {
        font-size: 2.5vh;
        font-weight: var(--font-weight-before);
    }
    &::after {
        content: attr(item-count);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -0.5vw; /*-10px; */
        left: -0.5vw; /*-10px; */
        font-size: min(1.5vh, 1.5vw); /*1.5vh;*/
        font-weight: bold;
        line-height: 100%;
        color: #fff;
        background: #ff4d4d;
        border-radius: 50%;
        width: min(2vw, 2vh); /*1vw; */
        height: auto; /*1vw; */
        border: 2px solid #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        visibility: hidden;
        aspect-ratio: 1 / 1;
        animation-duration: 0.6s; 
        animation-timing-function: ease-in-out;
    }
    &.countUp::after {
        animation-name: countUp;
    }
    &.show-item-count::after {
        visibility: visible;
    }
    &:hover {
        background-color: #7d7d7d;
        border-color: #ebebeb;
    }
    /* & img {
        height: 80%;
        width: 80%;
    } */
}
#bigger-bike-container {
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    min-height: min-content;
    max-height: max-content;
    height: -webkit-fill-available;
    /* margin: 50px; */
    display: none;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 50px;
    grid-template-rows: 50px auto 1fr 1fr;

    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1); /* 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    align-self: center;
}

#bike-info-container {
    width: 100%;
    height: 64%;
    min-height: max-content;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#bike-info {
    display: grid;
    grid-template-rows: repeat(10, auto);
    gap: 10px;
}

#bike-name {
    font-size: clamp(1rem, 2.1vw, 4rem); /*2.5rem;*/
    margin: 0;
    color: #333;
}
#bike-info label {
    font-size: clamp(1rem, 1vw, 4rem); /*1.2rem;*/
    color: #555;
}

#close-bigger-bike {
    /* position: absolute; */
    top: 10px;
    right: 10px;
    grid-column: 3;
    grid-row: 1;
    align-self: start;
    justify-self: end;
    /* border-radius: 50%; */
    
}
.close-btn {
    transition: background-color 0.3s;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #ff4d4d;
    border-radius: 14px;
    border: none;
    font-size: 2rem; /* xx-large */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        font-size: 35px !important;
    }
    &:hover {
        background-color: #cc0000;
    }
}

#bike-buy-button {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 14px;
    border: none;
    height: 50px;
    width: fit-content;
    margin-top: 6%;
    background-color: #007bff;
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    &::after {
        font-size: 32px;
        margin-left: 10px;
    }
    &:hover {
        background-color: #0056b3;
    }
}

#bike-image-container {
    width: 80%;/* width: 45%; */
    border-radius: 20px;
    border: 2px solid #ddd; /*2px solid black;*/
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #fff;
    padding: 10px;

    & img {
        width: 100%;
        border-radius: 20px;
    }
}
.shop-button {
    /* width: 20%;
    height: 30%; */
    display: flex;
    padding: 0;
    border-radius: 25px;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border: 2px solid #ddd;
    text-align: center;
    box-shadow: 0 0 8px 6px rgb(119 119 119 / 10%);
    transition: border 0.2s;
    & img {
        margin-inline: 32px;
        width: 70%; /*calc(100% - 32px);*/
        height: auto;
        border-radius: 25px;
        object-fit: contain;
    }
    & label {
        font-size: 1.5rem; /* 24px */
    }
    &:hover {
        border: 2px solid #adadad;
    }
}

.hidden {
    display: none;
}
#about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin: 50px;
    height: calc(100% - 100px);
}
#about-us-content {
    /* margin-left: 200px; */
    /* margin-top: 150px; */
    width: 40%;
    background-color: #949494;
    border-radius: 14px;
    overflow: hidden;
    
}

#about-us-title {
    font-size: 2.0rem;
    color: #f9f9f9;
    background-color: #9ddbeb;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0; 
}

#about-us-text {
    padding: 20px;
    line-height: 1.6;
    font-size: clamp(1rem, 1vw, 4rem); /* 19px */
    height: fit-content;
    color: #f9f9f9;
    background-color: #949494;
    font-weight: bolder;
    margin: auto; 
}
#about-us-image-container {
    /* margin-left: 200px; */
    /* margin-top: 50px; */
    /* align-self: center; */
    width: 40%;
    border-radius: 14px;
}
#about-us-image {
    width: 100%;
    height: 100%;
    /* margin-top: 150px; */
    border-radius: 14px;
    border: solid #b0b0b0;
    box-shadow: 0 0 8px 8px rgb(119 119 119 / 10%);
    object-fit: contain;
}

#homepage-left-container {
    width: 44%;
    /* margin: 50px auto; */
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 10%;
}
#sliding-images-container {
    width: calc(100% - 40px);
    height: 100%;
    overflow: hidden;
}
#homepage-sliding-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% - 40px); /*100%;*/ /*44%;*/ /*30%;*/
    height: 50%; /*35%;*/
    /* margin: 50px auto;50px; */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#sliding-images-items {
    width: 100%;
    height: 100%;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-auto-rows: 100%;
    transition: transform 0.5s ease-in-out;
}

.sliding-image-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}
.sliding-image {
    width: 85%; /* 80%; */
    height: 90%; /* 85%; */
    /* object-fit: contain; */
    object-position: center center;
    border-radius: 12px;
    background-color: #fff;
    border: 2px solid #a7a5a5;
    user-select: none;
}
.icon[data-icon]::before {
    content: attr(data-icon);
    font-family: "FontAwesome";
    font-family: 'Font Awesome 6 Pro';
    font-size: clamp(1rem, 1vw, 4rem); /* 18px; */
    height: auto;
    z-index: 2;
    position: relative;
}
.icon-after[data-icon]::after {
    content: attr(data-icon);
    font-family: "FontAwesome";
    font-family: 'Font Awesome 6 Pro';
    font-size: clamp(1rem, 1vw, 4rem); /* 18px; */
    height: auto;
    z-index: 2;
    position: relative;
}
#previous-sliding-image {
    float: left;
    display: contents;
    z-index: 2;
    &::before {
        translate: 20px 0;
        position: absolute;
        left: 0;
    }
}
#next-sliding-image {
    float: right;
    display: contents;
    z-index: 2;
    &::before {
        translate: -20px 0;
        position: absolute;
        right: 0;
    }
}
#sliding-page-number {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22px;
    display: flex;
    justify-content: center;
    transform: translateY(200%);
    gap: 4px;
    transition: color 200ms, opacity 200ms, transform 200ms;
    & > div {
        background-color: #7b7b7b;
        width: 30px;
        height: 6px;
        opacity: 0.25;
        border-radius: 20px;
        transition: opacity 200ms;
        &:hover {
            opacity: 0.75;
            transition: none;
        }
        &[data-current="true"] {
            opacity: 1;
        }
    }
}

#homepage-text-container {
    position: relative;
    width: 60%;
    height: fit-content;
    min-height: -webkit-fill-available;
    background-color: #fff;
    /* margin: 50px auto; */
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#homepage-text-container p {
    margin: 0;
    padding: 10px 0;
    font-size: 1.2rem;
}

#homepage-opening-hours-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#homepage-opening-hours {
    display: flex;
    flex-direction: column;
    width: 47%;
    padding-block: 1.35vw;
}
#homepage-opening-view {
    display: flex;
    flex-direction: column;
    width: 47%;
    height: calc(100% - 40px);
    margin: 20px;
    align-items: center;
    justify-content: center;
    container-name: opening-times-container;
    container-type: size;
}
#opening-times-display {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 12px;
    background-color: #228a61;
    border: 3px solid #24bd61;
    & span {
        font-size: clamp(1.5rem, 1vw, 4rem); /* 28px */
    }
}
#opening-times-display.store-closed {
    background-color: #511f1f;
    border: 3px solid #2e2e2e;
}
.opening-hours-item {
    display: flex;
    justify-content: space-between;
    padding: 0.12vw 1vw; /*2.5px 20px;*/
    font-size: clamp(1rem, 1vw, 4rem); /* 1.2rem; */
    white-space: nowrap;
}
.store-closed-text {
    color: #ff4d4d;
    width: 45%;
    text-align: center;
}


/* responsive for phones etc */

@media (max-width: 1600px) {
    #nav-menu a::before {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    #shop-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #content-container.homepage {
        flex-direction: column;
    }
    #homepage-left-container, #homepage-text-container {
        width: -webkit-fill-available;
        margin: 0;
        min-height: max-content;
        gap: 5%;
    }
    #opening-times-display {
        height: 15vh;
        & span {
            padding-block: 1vh;
        }
    }
    @container opening-times-container (width < 240px) {
        #opening-times-display {
            width: 70%;
            height: 70%;
        }
    }
}


@media (max-width: 1000px) {
    #bigger-bike-container {
        grid-template-columns: 1fr 10%;
        grid-template-rows: 10% auto 1fr;
        #bike-image-container {
            scale: 0.8;
            grid-column: span 2;
            grid-row: 2;
            padding: 0;
            height: auto;
            max-height: 100%;
            justify-self: center;
            object-fit: contain;
            & img {
                object-fit: contain;
            }
        }
        #bike-info-container {
            grid-column: span 2;
            grid-row: 3;
            height: auto;
            width: calc(100% - 40px);
        }
        #close-bigger-bike {
            grid-column: 2;
        }
        #bike-buy-button {
            justify-self: center;
            justify-content: center;
            width: 100%;
            padding: 0;
            & span {
                font-size: clamp(0.6rem, 1.1vw, 4rem);
            }
            &::after {
                font-size: clamp(1rem, 1.6vw, 4rem);
            }
        }
    }
}

@media (max-width: 720px) {
    #header {
        grid-template: "logo title search shopping-cart" 100% / clamp(5rem, 10vw, 20vw) 1fr 10vw;
    }
    #header-title {
        display: none;
    }
    .search-container {
        justify-self: center;
    }
    #shop-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    /* #header {
        grid-template: "search shopping-cart" 100% / 1fr 10vh;
    }
    #logo {
        display: none;
    }
    .search-container {
        justify-self: left;
        padding-left: 10vw;
    } */
    #main-container {
        grid-template: "header" 10vh "menu" 3.5vh "content" 1fr "footer" 10vh / 1fr
    }
    #nav-menu {
        border-radius: 0;
        height: 100%;
        & ul {
            flex-direction: row;
            margin: 0;
            align-items: flex-start;
        }
        & li a {
            border-radius: 0 !important;
            border-bottom-right-radius: 14px !important;
            border-bottom-left-radius: 14px !important;
            transition: none !important;
            &[selected] {
                padding-left: 0 !important;
                padding-top: 25% !important;
            }
            & span {
                margin: 0 !important;
            }
            &:hover {
                padding-left: 0 !important;
                padding-top: 25% !important;
            }
        }
    }
    #header {
        grid-template: "search shopping-cart" 100% / 1fr 10vw;
    }
    #logo {
        display: none;
    }
    .search-container {
        justify-self: left;
        margin-left: 10vw;
    }
    #shopping-cart-container {
        height: calc(70% - 100px) !important;
        margin-bottom: 20% !important;
        width: 90% !important;
    }
    #shopping-cart-items {
        width: 100% !important;
    }
    #KVK-Number {
        display: none;
    }
    #Copyright {
        display: none;
    }  
    #shop-container {
        grid-template-columns: minmax(100px, 1fr); 
    }
    #homepage-opening-hours-container {
        flex-direction: column;
        min-height: max-content;
        height: -webkit-fill-available;
    }
    #homepage-opening-hours {
        width: 70%;
    }
    #homepage-opening-view {
        width: 70%;
        height: 50%;
    }
}