html, body {
    margin: 0px;
    overflow-x: hidden;
    font-size: 16px;
}
* {
    font-family: "Segoe UI", Tahoma, sans-serif;
}

#add {
    position: fixed;
    translate: 40px 10px;
}
#remove {
    position: fixed;
    translate: 30px 40px;
}

#main-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    /* grid-template: "header" 10% "content" auto "footer" 10%; */
    grid-template: 
    "header header" 10%
    "menu content" 1fr
    "footer footer" 10% /
    8% 1fr;
}

#header, #footer {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #9ddbeb;
    color: white;
}

#header {
    grid-area: header;
    display: grid;
    /* grid-template: "test" 100% / 20% auto 20%; */
    grid-template: "logo title search" 100% / 8% 1fr 40%;
    align-items: center;

}
#footer {
    grid-area: footer;
    position: relative;
}

#content-container {
    height: 100%;
    grid-area: content;
    overflow-y: auto; 
}
#content-container.flex {
    display: flex;
    justify-content: center;
}

#logo {
    grid-area: logo;
    border-radius: 50%;
    margin-left: 25px;
    height: 90%;
}
#header-title {
    grid-area: title;
    font-size: 3.5rem; /* 56px; */
    margin-left: 20px;
    font-weight: bold;
}
/* input[type=search] {
    -webkit-appearance: none;
} */

.search-container {
    align-content: center;
    width: fit-content;
    height: 36%;
    width: 45%;
    display: flex;
    border-radius: 12px;
    transition: 0.1s;
    &:has(input[type=search]:focus) {
        outline: 2px solid white;
        box-shadow: 0px 0px 8px 6px rgb(255 255 255 / 30%);
    }
    & input[type=search] {
        /* height: calc(100% - 12px); */
        width: 100%;
        padding: 6px 6px 6px 12px;
        font-size: 1.0625rem; /* 17px */
        border: none;
        background-color: #949494;
        color: white;
        border-radius: 12px 0px 0px 12px;
        &:focus {
            outline: none;
            &::-webkit-search-cancel-button {
                opacity: 0.9;
                pointer-events: all;
            }
        }
        &::placeholder {
            color: rgb(235, 235, 235);
          }
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 1em;
            width: 1em;
            border-radius: 50em;
            background: url(../images/clear_input.svg) no-repeat 50% 50%;
            background-size: contain;
            opacity: 0;
            pointer-events: none;
        }
    }
    & button {
        height: 100%;
        padding: 6px 10px;
        border-radius: 0px 12px 12px 0px;
        background: #949494;
        border: none;
        cursor: pointer;
        & img {
            height: 100%;
        }
    }
    & button:hover {
        background: #7d7d7d;
    }
}

#nav-menu {
    width: 100%; /*8%; */
    height: 20vh; /* 24%; *//*3.375%;*/
    background-color: #949494;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        margin: 0px;
        padding:0px;
        font-size: 1.71rem; 
        & li {
            width: 100%;
            & a {
                display: block;
                text-decoration: none;
                color: white;
                width: 100%;
                text-align: center;
                &:hover {
                    transition: 0.4s;
                    background-color: #7d7d7d;
                    box-shadow: 0 0px 8px 0px rgb(255 255 255 / 30%);
                }
            }
        }
    }
}

@keyframes drive {
    0% {
        left: 0%;
        transform: scaleX(1);
    }
    50% {
        left: 96%;
        transform: scaleX(1);
    }
    50.01% {
        transform: scaleX(-1); 
    }
    100% {
        left: 0%;
        transform: scaleX(-1); 
    }
}

#driving-bike {
    height: 50%;
    position: absolute;
    bottom: 0px;
    animation: drive 20s linear infinite;
}
#footer-links {
    display: flex;
    /* height: 100%; */
    justify-content: space-evenly;
    margin-top: 0.8%;
}

#KVK-Number {
    right: 10px;
    bottom: 5px;
    position: absolute;
}
#Copyright {
    bottom: 5px;
    margin-left: 10px;
    position: absolute;
}
#facebook-social {
    background: url(../images/facebook.png) no-repeat 50% 50%;
    background-size: contain;
    height: 50px;
    width: 50px;
    border: none;
    padding: 0;
}
.footer-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem; /* 24px */
    margin-left: 10px;
    &:hover {
        text-decoration: underline;
    }
}
.column {
    display: flex;
    flex-direction: column;
}

#shop-container {
    display: grid;
    justify-content: center;
    height: calc(100% - 100px); /*100%;*/
    margin: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    z-index: 2;
}

#bigger-bike-container {
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    /* margin: 50px; */
    display: none;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 50px;
    grid-template-rows: 50px auto 1fr 1fr;

    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1); /* 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    align-self: center;
}

#bike-info-container {
    width: 100%;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#bike-info {
    display: grid;
    grid-template-rows: repeat(10, auto);
    gap: 10px;
}

#bike-name {
    font-size: 2.5rem;
    margin: 0;
    color: #333;
}
#bike-info label {
    font-size: 1.2rem;
    color: #555;
}

#close-bigger-bike {
    /* position: absolute; */
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #949494;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 2rem; /* xx-large */
    grid-column: 3;
    cursor: pointer;
    grid-row: 1;
    align-self: start;
    justify-self: end;
    transition: background-color 0.3s;

    
    background-color: #ff4d4d;
    /* border-radius: 50%; */
    
    &:hover {
        background-color: #cc0000;
    }
}

#bike-buy-button {
    display: flex;
    align-items: center;
    background-color: #949494;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 2rem;
    height: 50px;
    width: fit-content;
    margin-top: 6%;

   
    background-color: #007bff;

    font-size: 1.5rem;
    margin-top: 20px;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    & img {
        height: 100%;
        width: auto;
        margin-left: 10px;
    }
    &:hover {
        background-color: #0056b3;
    }
}

#bike-image-container {
    width: 80%;/* width: 45%; */
    border-radius: 20px;
    border: 2px solid #ddd; /*2px solid black;*/
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #fff;
    padding: 10px;

    & img {
        width: 100%;
        border-radius: 20px;
    }
}

.shop-button {
    /* width: 20%;
    height: 30%; */
    display: flex;
    padding: 0;
    border-radius: 25px;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border: 2px solid #ddd;
    text-align: center;
    box-shadow: 0px 0px 8px 6px rgb(119 119 119 / 10%);
    transition: border 0.2s;
    & img {
        margin-inline: 32px;
        width: 70%; /*calc(100% - 32px);*/
        height: auto;
        border-radius: 25px;
        object-fit: contain;
    }
    & label {
        font-size: 1.5rem; /* 24px */
    }
    &:hover {
        border: 2px solid #adadad;
    }
}

.hidden {
    display: none;
}
#about-us-title {
    font-size: 2.0rem;
    margin-left: 200px;
    margin-top: 150px;
}


/* #bigger-bike-container {
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    margin: 50px;
    display: none;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 50px;
    grid-template-rows: 50px auto 1fr 1fr;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
} */

/* #header {
    height: 10vh;
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 10; 
}
#nav-menu {
    grid-area: menu;
    position: fixed; 
    top: 10vh; 
    left: 0; 
    width: 8%; 
    height: min-content;
    background-color: #949494; 
    z-index: 9; 
}

#main-container {
    grid-template: 
        "header header" 10vh 
        "menu content" 1fr
        "footer footer" 10vh /
        8% 1fr;
    padding-top: 10vh; 
    overflow: hidden; 
} */

#sliding-images-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 30%;
    height: 35%;
    margin: 50px;
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#sliding-images-items {
    width: 100%;
    height: 100%;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-auto-rows: 100%;
    transition: transform 0.5s ease-in-out;
}

.sliding-image-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}
.sliding-image {
    width: 80%;
    height: 85%;
    object-fit: contain;
    object-position: center center;
    border-radius: 12px;
    background-color: #fff;
    border: 2px solid #a7a5a5;

}
.icon[data-icon]::before {
    content: attr(data-icon);
    font-family: "FontAwesome";
    font-size: 18px;
    height: auto;
    z-index: 2;
    position: relative;
}
#previous-sliding-image {
    float: left;
    display: contents;
    z-index: 2;
}
#next-sliding-image {
    float: right;
    display: contents;
    z-index: 2;
}
#sliding-page-number {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 22px;
    display: flex;
    justify-content: center;
    transform: translateY(200%);
    gap: 4px;
    transition: color 200ms, opacity 200ms, transform 200ms;
    & > div {
        background-color: #7b7b7b;
        width: 30px;
        height: 6px;
        opacity: 0.25;
        border-radius: 20px;
        transition: opacity 200ms;
        &:hover {
            opacity: 0.75;
            transition: none;
        }
        &[data-current="true"] {
            opacity: 1;
        }
    }
}